.subject {
  display: flex;
  flex: auto;
  flex-direction: column;
  flex-wrap: wrap;
}
.subjectTitle {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
