$text_heading: darkblue;
$border_primary: #ddd;
$background_quiz_primary: #3399ff;
$background_quiz_secondary: #cce5ff;
$background_answer_primary: green;
$text_primary: white;
$text_secondary: #800080;
$background_secondary: rgba(89, 30, 227, 0.88);
$button_secondary_background:rgb(245, 122, 122);
